

html,body {
  height: 100%;
}
*{
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  display: block;
  width: 100%;
}
.lt_container {
  width: 100%;
  height: 100%;
  max-width: 640px;
  min-width: 320px;
  margin: 0 auto;
  position: relative;
  padding-top: 45px;
  padding-bottom: 55px;
  background-color: #fff;

}
.lt_header{
  width: 100%;
  height: 45px;
  line-height: 45px;
  background-color: #006699;
  position: absolute;
  left: 0;
  top: 0;
  padding: 0 45px;
  text-align: center;
}
.lt_header .header_left,
.lt_header .header_right {
  width: 45px;
  height: 45px;
  text-align: center;
  position: absolute;
  top: 0;
  color: #fff;
}
.lt_header .header_left {
  left: 0;
}
.lt_header .header_right {
  right: 0;
}
.lt_header h3 {
  color:  #fff;
  font-size: 18px;
  margin: 0;
  line-height: 45px;
  font-weight: normal;
}
.lt_main {
  width: 100%;
  height: 100%;
  position: relative;
}


.lt_footer {
  width: 100%;
  height: 55px;
  background-color: #006699;
  position: absolute;
  left: 0;
  bottom: 0;

}
.lt_footer ul li {
  float: left;
  width: 25%;
}
.lt_footer ul li a {
  display: block;
  height: 55px;
  text-align: center;
  padding-top: 10px;
}
.lt_footer ul li a i {
  color: #fff;
}
.lt_footer ul li a.current i, 
.lt_footer ul li a.current p{
  color: orange;
}
.lt_footer ul li p {
  margin: 0;
  color: #fff;
}

/* 复用的搜索框样式 */
.lt_search {
  padding: 10px;
  position: relative;
}
.lt_search input {
  height: 34px;
  border-radius: 3px;
  border-color: #007AFF;
  margin: 0;
  font-size: 12px;
}
.lt_search button {
  position: absolute;
  right: 10px;
  top: 10px;
  border-radius: 0px 3px 3px 0px;
}

/* 商品列表静态样式 */
.main_product ul {
  padding: 10px;
  background-color: #fff;
}
.main_product ul li:nth-child(odd) {
  float: left;
  width: 48%;
}
.main_product ul li:nth-child(even) {
 float: right;
 width: 48%;
}
.main_product ul li a {
  display: block;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #fff;
  padding: 10px;
  text-align: center;
}
.main_product ul li a img {
  width: 130px;
  height: 130px;
  margin: 0 auto;
}
.main_product ul li a p {
  text-align: center;
}
.main_product ul li a .price {
  color: orangered;
}
.main_product ul li a .oldPrice {
 text-decoration: line-through;
 margin-left: 5px;
}

.main_product ul li a p {
  height: 40px;
}
 