.main_nav {
  padding: 10px;
  background-color: #fff;
 }
 .main_nav ul li {
   float: left;
   width: 33.33%;
 
 }
 .main_nav ul li a {
   display: block;
 }
 .main_product ul {
   padding: 10px;
   background-color: #fff;
 }
 .main_product ul li:nth-child(odd) {
   float: left;
   width: 48%;
 }
 .main_product ul li:nth-child(even) {
  float: right;
  width: 48%;
}
 .main_product ul li a {
   display: block;
   border: 1px solid #ccc;
   border-radius: 5px;
   margin-bottom: 10px;
   background-color: #fff;
   padding: 10px;
   text-align: center;
 }
 .main_product ul li a img {
   width: 130px;
   height: 130px;
   margin: 0 auto;
 }
 .main_product ul li a p {
   text-align: center;
 }
 .main_product ul li a .price {
   color: orangered;
 }
 .main_product ul li a .oldPrice {
  text-decoration: line-through;
  margin-left: 5px;
}
 .main_product ul li a button {
 }