.lt_search {
  padding: 10px;
  position: relative;
}
.lt_search input {
  height: 34px;
  border-radius: 3px;
  border-color: #007AFF;
  margin: 0;
  font-size: 12px;
}
.lt_search button {
  position: absolute;
  right: 10px;
  top: 10px;
  border-radius: 0px 3px 3px 0px;
}
 
.lt_history {
  padding-top: 10px;
}
.lt_history .title  {
  font-size: 12px;
  padding: 10px 10px 0 10px;
  
}
.lt_history .title .left span, 
.lt_history .title .right a {
  color: #666666;
}
.lt_history .content {
  padding: 10px;
}
.lt_history .content ul {
  border: 1px dashed #FF3F3F;
}
.lt_history .content ul li {
  height: 30px;
  line-height: 30px;
  border-bottom: 1px dashed #FF3F3F;
  padding-left: 10px;
}
.lt_history .content ul li a {
  font-size: 12px;
}
.lt_history .content ul li i {
  line-height: 30px;
}
.lt_history .content ul li:last-child{
  border: none;
}
